body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


.divider {
    height: 3px;
    background-color: #59dd2d;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


section {
    width: 100vw; 
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}


/* Sections with Full Width Background */
.welcome-section, 
.cookbook-section, 
#book-section {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


.inner-content {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
}




/* Navigation */
.navbar {
    background-color: rgb(203, 201, 201);
    padding: 0 100px;
    
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    padding-left: 20px;
}

.navbar-brand img {
    width: 40px;
    height: auto;
    padding-top: 10px;
}

.custom-navbar .navbar-nav {
    margin-left: auto;
    
}

.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-nav .dropdown-toggle {
    color: rgb(249, 244, 244);
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-nav .dropdown-toggle:hover {
    color: #59dd2d;
}

.custom-navbar .navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3E%3C/path%3E%3C/svg%3E");
}


/* Hero Section */

.hero-image-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.287), rgba(0, 0, 0, 0.269)), url('https://res.cloudinary.com/dqe39dixt/image/upload/v1692113299/background-banner_iqelfm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative; 
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}



.hero-image-main h1 {
    color: #fff;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 0;
    
}

.hero-image-main p {
    color: #fff;
    font-size: 36px;
}


/* Welcome Section */

#welcome-section {
    background-color: #fff;
    margin-bottom: 0;
}

.welcome-section {
    padding: 25px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    
}

.welcome-text-container {
    flex: 1;
    padding-top: 40px;
    height: 600px;
    box-sizing: border-box;
    text-align: left;
    max-width: 50%;
    background-color: white;
}

.welcome-section h2 {
    font-size: 28px;
    color: #333;
    margin-top: -20px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.welcome-section h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #59dd2d;
}

.welcome-section p {
    font-size: 18px;
    color: #666;
}

.welcome-image {
    flex: 1;
    width: auto;
    height: 600px;
    object-fit: cover;
    margin-right: 20px;
}

.welcome-text-container,
.welcome-image {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.welcome-image:hover {
    transform: scale(1.05);
}

.welcome-text-container:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}


/* Cookbook Section */

.cookbook-section {
    background-color: #fff;
    padding: 10px 0 60px 0;
    position: relative;
}

.cookbook-section h2 {
    font-size: 28px;
    color: #333;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.cookbook-section h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #59dd2d;
}

.row.align-items-center {
    display: flex;
    align-items: start;
}

.cookbook-text,
.cookbook-item {
    flex: 1;
    box-sizing: border-box;
    width: 50%;
    height: 465px;
    position: relative;
}

.cookbook-text,
.cookbook-item-se {
    flex: 1;
    box-sizing: border-box;
    width: 50%;
    height: 465px;
    position: relative;
}

.cookbook-item {
    display: flex;
    align-items: start;
    justify-content: center;
}

.cookbook-image {
    width: auto;
    max-height: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.cookbook-image:hover {
    transform: scale(1.05);
}

.cookbook-text .text-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 468px;
    position: absolute;
    top: 0;
}

.cookbook-text h3 {
    font-size: 24px;
    color: #444;
    margin-top: 0;
    margin-bottom: 15px;
}

.cookbook-text p {
    font-size: 18px;
    color: #666;
}


/* Recipe Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


#recipe {
    width: 100vw;
    padding: 20px 0;
    background-color: #E8F5E9;
    position: relative; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#recipe .title-text h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

#recipe .title-text h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #59dd2d;
    margin-top: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.container {
    max-width: 1200px;
    width: 100%; 
    margin: 0 auto;
    padding: 20px 15px;
}


.single-recipe {
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;
    flex-basis: calc(50% - 10px); 
}

.single-recipe:nth-child(odd) {
    margin-right: 20px; 
}

.single-recipe img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.single-recipe:hover .overlay {
    opacity: 1;
}

.recipe-desc {
    width: 80%;
    position: absolute;
    bottom: 10%; 
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 7px;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.recipe-desc p {
    font-size: 14px;
}

.single-recipe:hover .recipe-desc {
    opacity: 1;
}




/* Book Section */

#book-section {
    background: #f9f9f9;
    color: #333;
}

#book-section h2 {
    font-size: 24px; 
}

#book-section h3 {
    font-size: 24px;
}


#book-section .container {
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#book-section h2, #book-section h3, #book-section p.lead {
    align-self: flex-start; 
}

#book-section h2, #book-section h3 {
    position: relative;
    display: inline-block; 
}

#book-section h2::after, #book-section h3::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    height: 2px; 
    width: 100%; 
    background-color: #59dd2d; 
}


#book-section .book-display {
    display: flex;
    flex-wrap: nowrap; 
    gap: 2rem;
    align-items: start; 
    width: 100%; 
}

#book-section .book-cover img {
    max-width: 100%;
    height: 500px; 
    object-fit: cover; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

#book-section .book-cover img:hover {
    transform: scale(1.05);
}

#book-section .book-info {
    flex: 1;
    width: 100%; 
    height: 500px; 
    background: #ffffff; 
    padding: 20px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: left; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#book-section .btn-primary {
    background-color: #59dd2d;
    border-color: #59dd2d;
    align-self: flex-start; 
}

#book-section .btn-primary:hover {
    background-color: #45c91b;
    border-color: #45c91b;
}



/* Hero section */

@keyframes hero-zoom {
    0% {
        transform: scale(1);  
    }
    100% {
        transform: scale(1.1);  
    }
}

.not-animated img {
    animation-name: none;
}


.animate img {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.hero-image-section-jerk {
    width: 100vw;
    height:600px; 
    overflow: hidden; 
    box-sizing: border-box;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: -20px;
    
    
}

.hero-image-section-jerk img {
    width: 100%;
    height: auto;
    display: block; 
    
}

.hero-image-section {
    width: 100vw;
    height: 700px; 
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: -20px;
}

.hero-image-section img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 60px;  
    left: 200px;  
    color: white;
    text-align: left;
    z-index: 1;
}

.hero-text h2 {
    border-bottom: 2px solid #59dd2d;  
    padding-bottom: 5px;  
    display: inline-block;  
}


/* Footer */
.custom-footer {
    background-color: rgb(203, 201, 201);
    padding: 30px 0;
    color: #555;
    margin-top: 0;
    padding-top: 0;
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.custom-footer p {
    font-size: 16px;
}

.custom-footer ul {
    padding-left: 0;
}

.custom-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.custom-footer ul li a,
.custom-footer p a,
.custom-footer .col-12 a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-right: 10px;
    display: inline-block;
}

.copy {
    font-size: 14px;
}

.custom-footer ul li a:hover,
.custom-footer p a:hover,
.custom-footer .col-12 a:hover {
    color: #59dd2d;
    
    text-decoration: none;
}

/* Styles for social links */
.social-links {
    padding-left: 0;
}

.social-links li {
    list-style: none;
    margin-bottom: 10px;
}


.list-inline-item a:hover i {
    color: #59dd2d;
}


.list-inline-item i {
    font-size: 24px;
}

i {
    margin-right: 5px;
}

.fa-heart-red {
    color: red;
}

.fa-heart-yellow {
    color: yellow;
}

.fa-heart-green {
    color: #59dd2d;
}

/* Blog - Page */

.blog-post {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.post-title {
    margin: 0;
    margin-bottom: 20px; 
    color: #333;
    text-decoration: underline #59dd2d; 
}

.read-more-btn {
    display: inline-block;
    margin-top: 20px; 
    padding: 5px 10px;
    background-color: #59dd2d; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.post-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 500px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.post-body {
    margin: 0;
    color: #666;
    display: block;
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .hero-image {
        height: 400px;
    }

    .hero-image-section-jerk {
        height: 400px;
    }

    .hero-image-section {
        height: 400px;
    }

    #book-section .book-cover img {
        max-width: 100%;
        height: 550px;
    }

    #book-section .book-info {
        height: 550px;
    }

    #book-section h3 {
            font-size: 22px;
            
        }

    .mt-3 {
        font-size: 18px;
    }

    .hero-text {
        top: 40px;
        left: 100px;
    }

    .blog-h2 {
        font-size: 24px;
    }


    .copy {
            font-size: 14px;
        }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        padding: 0 50px;
    }

    .hero-image {
        height: 400px;
    }

    .hero-image-main h1 {
        font-size: 38px;
    }

    .hero-image-main p {
        font-size: 28px;
    }

    .welcome-text-container {
        margin-left: 40px;
    }

    .img-container {
        margin-right: 30px;
    }

    .welcome-section h2 {
        font-size: 24px;
    }

    .welcome-section p {
        font-size: 16px;
    }

    .cookbook-section h2 {
        font-size: 24px;
    }

    .cookbook-image {
        width: auto;
        height: 448px;
        margin-left: 80px;
    }

    .cookbook-text .text-box {
        width: 100%;
        height: 448px;
        
    }

    .cookbook-text h3 {
        font-size: 22px;
    }

    .cookbook-text p {
        font-size: 16px;
    }

    #book-section .book-cover img {
        max-width: 100%;
        height: 525px;
    }

    #book-section .book-info {
        height: 525px;
    }

    #book-section h3 {
            font-size: 20px;
            
        }

    .hero-image-section-jerk {
        height: 400px;
    }

    .hero-image-section {
        height: 400px;
    }

    .hero-text {
        top: 40px;
        left: 100px;
    }

    .blog-h2 {
        font-size: 24px;
    }

    .copy {
            font-size: 14px;
        }
}

@media (min-width: 769px) and (max-width: 992px) {
    .navbar {
        padding: 0 50px;
    }

    .hero-image {
        height: 400px;
    }

    .hero-image-main h1 {
        font-size: 38px;
    }

    .hero-image-main p {
        font-size: 28px;
    }

    .welcome-text-container {
        margin-left: 40px;
    }

    .img-container {
        margin-right: 30px;
    }

    .welcome-section h2 {
        font-size: 24px;
    }

    .welcome-section p {
        font-size: 16px;
    }

    .cookbook-section h2 {
        font-size: 24px;
    }

    .cookbook-image {
        width: auto;
        height: 450px;
        margin-right: 40px;
    }

    .cookbook-text .text-box {
        width: 100%;
        height: 450px;
        margin-left: 45px;
    }

    .cookbook-text h3 {
        font-size: 24px;
    }

    .cookbook-text p {
        font-size: 16px;
    }

    #book-section {
        min-height: 700px;
    }

    #book-section .book-cover img {
        max-width: 100%;
        height: 550px;
    }

    #book-section .book-info {
        height: 550px;
        margin-right: 20px;
    }

    #book-section h3 {
            font-size: 24px;
            
        }

    p.mt-3 {
        font-size: 14px;
    }

    .hero-image-section-jerk {
        height: 400px;
    }

    .hero-image-section {
        height: 300px;
    }

    .hero-text {
        top: 40px;
        left: 100px;
    }

    .blog-h2 {
        font-size: 20px;
    }

    .copy {
            font-size: 14px;
        }
}



@media (min-width: 577px) and (max-width: 768px) {
    .navbar {
        padding: 0 30px;
    }

    .navbar-brand img {
        width: 30px;
        height: auto;
        padding-top: 10px;
    }

    .custom-navbar .navbar-brand {
        font-size: 20px;
        height: 80px;
    }

    .custom-navbar .navbar-nav .nav-link,
    .custom-navbar .navbar-nav .dropdown-toggle {
        font-size: 16px;
    }

    .hero-image {
        height: 300px;
    }

    .hero-image-main h1 {
        font-size: 28px;

    }

    .hero-image-main p {
        font-size: 20px;
    }

    .row.align-items-center {
        display: flex;
        flex-direction: column;
    }

    .welcome-section h2 {
        font-size: 22px;
    }

    .welcome-section p {
        font-size: 16px;
    }

    .welcome-image {
        width: 100%;
        height: 475px;
        margin-bottom: 20px;
        object-fit: cover;
        object-position: top;
    }

    .welcome-text-container {
        max-width: 100%;
        width: 100%;
        height: 825px;
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
    }

    .cookbook-section {
        min-height: 900px;
    }

    .cookbook-section .row.align-items-center {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .cookbook-section h2 {
        font-size: 22px;
        margin-bottom: -20px;
    }

    .cookbook-text p {
        font-size: 16px;
    }

    .cookbook-text,
    .cookbook-item {
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .cookbook-text .text-box {
        width: 100%;
        height: 300px;
        box-sizing: border-box;
        position: static;
    }

.cookbook-image {
    width: auto;
    height: 100%;
    margin: 0 15px 40px 15px;
    transform: scale(0.8);
    }

    .hero-image-section-jerk {
        width: 100vw;
        height: 300px;
    }

    .recipe-desc {
        width: 90%;
        position: absolute;
        bottom: 2%;
        padding: 10px;
        border-radius: 7px;
    }

    h3.mb-3 {
        font-size: 22px;
    }

    .recipe-desc p {
        font-size: 14px;
    }

    #book-section {
        min-height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #book-section .book-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #book-section h2 {
            font-size: 22px;
            margin-left: 15px;
        }

         #book-section h3 {
            font-size: 22px;
            
        }

    .book-cover {
        width: auto;
        height: 100%;
    }

    .book-cover img {
        width: auto;
        height: 100%;
        margin: 0 15px 20px 15px;
    }

    #book-section .container {
        padding-left: 0;
        padding-right: 0;
    }

    #book-section .book-info {
        width: 100%;
        height: auto;
    }

    p.mt-3 {
        font-size: 16px;
    }

    .hero-image-section {
        height: 300px;
    }

    .hero-image-section img {
        width: 100%;
        height: 300px;
    }


    .hero-text {
        top: 20px;
        left: 50px;
    }

    .blog-h2 {
        font-size: 20px;

    }

    .custom-footer h5 {
        font-size: 20px;
    }

    .custom-footer p {
        font-size: 14px;
    }

    .custom-footer ul li a,
    .custom-footer p a,
    .custom-footer .col-12 a {
        font-size: 14px;
    }

    .copy {
            font-size: 14px;
        }

    .list-inline-item i {
        font-size: 20px;
    }
}

@media (min-width: 415px) and (max-width: 575px) {

    .navbar {
        padding: 0 20px;
    }

    .navbar-brand img {
        width: 30px;
        height: auto;
        padding-top: 5px;
    }

    .custom-navbar .navbar-brand {
        font-size: 20px;
        height: 70px;
    }

    .custom-navbar .navbar-nav .nav-link,
    .custom-navbar .navbar-nav .dropdown-toggle {
        font-size: 16px;
    }

    .hero-image {
        height: 250px;
    }

    .hero-image-main h1 {
        font-size: 24px;

    }

    .hero-image-main p {
        font-size: 20px;
    }

    .row.align-items-center {
        display: flex;
        flex-direction: column;
    }

    .welcome-section h2 {
        font-size: 22px;
    }

    .welcome-section p {
        font-size: 16px;
    }

    .welcome-image {
        width: 100%;
        height: 475px;
        margin-bottom: 20px;
        object-fit: cover;
        object-position: top;
    }

    .welcome-text-container {
        max-width: 100%;
        height: 825px;

    }

    .cookbook-section {
        min-height: 1150px;
    }

    .cookbook-section .row.align-items-center {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .cookbook-section h2 {
        font-size: 22px;
    }

    .cookbook-text p {
        font-size: 16px;
    }

    .cookbook-text,
    .cookbook-item {
        width: 100%;
        height: 350px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .cookbook-text .text-box {
        width: 100%;
        height: 350px;
        box-sizing: border-box;
    }

    .cookbook-image {
        width: auto;
        height: 100%;
        margin: 0 15px 20px 15px;
        transform: scale(0.7);
    }

    .hero-image-section-jerk {
        width: 100vw;
        height: 300px;
    }

    .row {
        display: block;
    }

    .single-recipe {
        width: 100%;
        margin-right: 0;
    }


    #recipe .title-text h2 {
        display: inline-block;
        position: relative;
        margin-bottom: 20px;

    }

    #book-section {
        min-height: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #book-section .book-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #book-section h2 {
            font-size: 20px;
            margin-left: 15px;
        }

         #book-section h3 {
            font-size: 20px;
            
        }

    .book-cover {
        width: auto;
        height: 100%;
    }

    .book-cover img {
        width: auto;
        height: 100%;
        margin: 0 0 20px 50px;
        transform: scale(0.9);
    }

    #book-section .container {
        padding-left: 0;
        padding-right: 0;
    }

    #book-section .book-info {
        width: 100%;
        height: auto;
    }

    p.mt-3 {
        font-size: 16px;
    }

    .hero-image-section {
        height: 300px;
    }

    .hero-image-section img {
        width: 100%;
        height: 300px;
    }


    .hero-text {
        top: 20px;
        left: 30px;
    }

    .blog-h2 {
        font-size: 18px;
    }

    .custom-footer h5 {
        font-size: 20px;
    }

    .custom-footer p {
        font-size: 14px;
    }

    .custom-footer ul li a,
    .custom-footer p a,
    .custom-footer .col-12 a {
        font-size: 14px;
    }

    .copy {
            font-size: 14px;
        }

    .list-inline-item i {
        font-size: 20px;
    }

    .post-title {
        font-size: 20px;
    }
    
    .post-image {
        width: 300px;
        height: auto;
    }
    
        
}

@media (min-width: 355px) and (max-width: 415px) {
    .navbar {
            padding: 0 20px;
        }
    
        .navbar-brand img {
            width: 25px;
            height: auto;
            padding-top: 5px;
        }
    
        .custom-navbar .navbar-brand {
            font-size: 18px;
            height: 60px;
        }
    
        .custom-navbar .navbar-nav .nav-link,
        .custom-navbar .navbar-nav .dropdown-toggle {
            font-size: 14px;
        }
    
        .hero-image-main {
            height: 200px;
        }
    
        .hero-image-main h1 {
            font-size: 18px;
    
        }
    
        .hero-image-main p {
            font-size: 14px;
        }
    
        .row.align-items-center {
            display: flex;
            flex-direction: column;
        }
    
        .welcome-section h2 {
            font-size: 20px;
        }
    
        .welcome-section p {
            font-size: 16px;
        }
    
        .welcome-image {
            width: 100%;
            height: 475px;
            margin-bottom: 20px;
            object-fit: cover;
            object-position: top;
        }
    
        .welcome-text-container {
            max-width: 100%;
            height: 825px;
    
        }
    
        .cookbook-section {
            min-height: 1100px;
        }
    
        .cookbook-section .row.align-items-center {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
    
        .cookbook-section h2 {
            font-size: 20px;
        }
    
        .cookbook-text p {
            font-size: 16px;
        }
    
        .cookbook-text,
        .cookbook-item {
            width: 100%;
            height: 575px;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    
        .cookbook-text .text-box {
            width: 100%;
            height: 575px;
            box-sizing: border-box;
        }
    
        .cookbook-image {
            width: 350;
            height: 400px;
            margin: 0 15px 20px 15px;
            transform: scale(0.8);
        }

                
    
        .hero-image-section-jerk {
            width: 100vw;
            height: 200px;
        }
    
        .row {
            display: block;
        }
    
        .single-recipe {
            width: 100%;
            margin-right: 0;
        }
    
        
        #recipe .title-text h2 {
            display: inline-block;
            position: relative;
            margin-bottom: 20px;
        }
    
        #book-section {
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
        }
    
        #book-section .book-display {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    
        #book-section h2 {
            font-size: 20px;
            margin-left: 15px;
        }

         #book-section h3 {
            font-size: 20px;
            
        }
    
       .book-cover {
            width: 400px;
            height: 100%;
       }
    
        .book-cover img {
            width: auto;
            height: 100%;
            margin: 0 0 20px 40px;
            transform: scale(0.7);
            
        }

        #book-section .container {
            padding-left: 0;
            padding-right: 0;
        }
       
    
        #book-section .book-info {
            width: 100%;
            height: auto;
        }
    
        p.mt-3 {
            font-size: 16px;
        }
    
        .hero-image-section {
            height: 200px;
        }
    
        .hero-image-section img {
            width: 100%;
            height: 200px;
        }
    
    
        .hero-text {
            top: 20px;
            left: 30px;
        }
    
        .blog-h2 {
            font-size: 18px;
        }
    
        .custom-footer h5 {
            font-size: 20px;
        }
    
        .custom-footer p {
            font-size: 14px;
        }
    
        .custom-footer ul li a,
        .custom-footer p a,
        .custom-footer .col-12 a {
            font-size: 14px;
        }

        .copy {
            font-size: 14px;
        }
    
        .list-inline-item i {
            font-size: 20px;
        }

        .post-title {
            font-size: 18px;
        }
        
        .post-image {
            width: 250px;
            height: auto;
        }
    }


