body {
    font-family: 'Roboto Slab', sans-serif;
    /* Any other body-specific styles can be added here */
}



/* Footer */
.custom-footer {
    background-color: rgb(216, 216, 216);
    padding: 30px 0;
    color: #555;
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.custom-footer p {
    font-size: 16px;
}

.custom-footer ul {
    padding-left: 0;
}

.custom-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.custom-footer ul li a,
.custom-footer p a,
.custom-footer .col-12 a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-right: 10px;
    display: inline-block;
}

.custom-footer ul li a::after,
.custom-footer p a::after,
.custom-footer .col-12 a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
    visibility: hidden;
}

.custom-footer ul li a:hover::after,
.custom-footer p a:hover::after,
.custom-footer .col-12 a:hover::after {
    visibility: visible;
    width: 100%;
}

.custom-footer ul li a:hover,
.custom-footer p a:hover,
.custom-footer .col-12 a:hover {
    text-decoration: none;
}

/* Styles for social links */
.social-links {
    padding-left: 0;
}

.social-links li {
    list-style: none;
    margin-bottom: 10px;
}

/* Remove underline effect on hover for social icons */
.list-inline-item a::after {
    display: none;
}

/* Change social icon color on hover */
.list-inline-item a:hover i {
    color: #218f3b;
}

/* Increase the social icon size */
.list-inline-item i {
    font-size: 24px;
}

/* Font Awesome icons adjustment */
i {
    margin-right: 5px;
}

.fa-heart-red {
    color: red;
}

.fa-heart-yellow {
    color: yellow;
}

.fa-heart-green {
    color: green;
}