{% extends "base.html" %}

{% block content %}
    {% for post in blog_posts %}
    <div class="blog-post">
        <h2 class="post-title">{{ post.title }}</h2>

        {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        
        <p class="post-body">{{ post.body }}</p>

        {% if post.link %}
            <a class="read-more-btn" href="{{ post.link }}">Link</a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}

