{% extends "en/base_en.html" %}
{% load static %}


{% block hero %}
<div class="hero-image-section-blog">
    <div class="hero-text-blog">
        <h1>Street Gastronomy Blog</h1>
        <p></p>
    </div>
</div>


{% endblock %}

{% block content %}
{% for post in blog_posts %}
<div class="blog-post">
    <h2 class="post-title">{{ post.title }}</h2>

    {% if post.image %}
    <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}

    <div class="post-body">{{ post.body|safe }}</div>

    {% if post.link %}
    <a class="read-more-btn" href="{{ post.link }}" target="_blank">Link</a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}

