{% extends "se/base_se.html" %}

{% load static %}
{% block content %}
<!-- Welcome Section -->
<div class="welcome-section" style="background-color: #e9ecef;">
    <div class="container">
        <h2>Välkommen</h2>
        <div class="row align-items-center"> 
            <div class="col-md-5"> 
                <img src="{% static 'images/kristian-smith-roots.jpg' %}" alt="Description of Image" class="img-fluid welcome-image">
            </div>
            <div class="col-md-7 welcome-text-container"> 
                <h2>Kristian Smith</h2>
                <p>Jag heter Kristian Smith. Min passion för gatumat och rika kulturer kulminerade i min första kokbok, "Roots:
                Jamaicansk mat & kök." Oavsett om du läser den på svenska, tyska eller snart på engelska, inbjuder jag dig att njuta
                av autentiska jamaicanska smaker som resonerar djupt med mitt arv.</p>
                <p>Från de rytmiska beatsen av reggae till de aromatiska jerkkryddor som flödar genom luften, min kokbok lovar att
                transportera
                dig till Jamaicas solkyssta stränder. Det här handlar inte bara om recept; det är en hyllning till en kultur, ett folk
                och
                smaker som har format min kulinariska resa.</p>
                <p>Medan du är här, missa inte min blogg. Det är där jag gräver djupare in i det globala köket, delar med mig av
                historierna bakom mina rätter och erbjuder ett smakprov på vad som händer härnäst i mina gastronomiska utforskningar.
                <br>Dyk in, njut av och låt Jamaicas smaker dansa i din gom.</p>
                <p>Njut av!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>

<!-- Cookbook Section -->
<section id="kokbok-section" class="cookbook-section" style="background-color: #f8f9fa;">
    <div class="container">
        <h2>Om Kokbok</h2>
        <div class="row align-items-center"> 
            <!-- Text for Cookbook Item -->
            <div class="col-md-6 cookbook-text">
                <div class="text-box swedish">
                    <p>För 20 år sedan var jag nybörjare i ett restaurangkök, en kille som precis avslutat matlagningsskolan i London. 
                    Det var då min jamaicanska pappa tog med hela familjen till ön för första gången. Väl där hamnade vi inte bland turisternas
                    lyxiga hotellkomplex – pappa visade oss det riktiga Jamaica.</p>
                    <p>Att bo och äta med lokalbefolkningen fick mig att upptäcka mina jamaicanska rötter. Den rökiga doften av brinnande
                    pimento i grillar packade med jerk chicken, de kryddiga fiskrätterna nere vid stranden, stoltheten och glädjen att laga
                    mat – allt detta förmedlar jag i den här boken Jamaicansk matkultur är ett resultat av öns spännande historia, och Jag
                    har gjort det till mitt uppdrag att sprida all kunskap jag lyckats samla.</p>
                </div>
            </div>
            <!-- Image for Cookbook Item -->
            <div class="col-md-6 cookbook-item">
                <img src="{% static 'images/roots-swedish-cover.jpg' %}" alt="Roots swedish book cover" class="img-fluid cookbook-image cookbook-image-se">
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>
<div class="hero-image-section-jerk">
    <img src="{% static 'images/jerkbbq-banner.jpg' %}" alt="jerk chicken on the grill">
</div>
<div class="divider"></div>

<!-- Recipe Section -->
<section id="recipe" style="background-color: #e9ecef;">
    <div class="container py-5">
        <div class="title-text text-center mb-5">
            <h2>Recept</h2>
            <p class="lead">Här är exempel på recept</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 single-recipe">
                <img src="{% static 'images/callaloo.png' %}" alt="a picture of fried callaloo friters stacked up" class="img-fluid">
                <div class="overlay"></div>
                <div class="recipe-desc p-3">
                    <h3 class="mb-3">Callaloo Friters</h3>
                    <hr>
                    <p>Vegetariska callaloo-fritter är perfekta till frukost eller bara som mellanmål.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4 single-recipe">
                <img src="{% static 'images/escovitch.png' %}" alt="holding a dish of escovitch fish" class="img-fluid">
                <div class="overlay"></div>
                <div class="recipe-desc p-3">
                    <h3 class="mb-3">Escovitch Fisk</h3>
                    <hr>
                    <p>Escovitch fisk är en fiskrätt som är populär över hela Jamaica. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4 single-recipe">
                <img src="{% static 'images/jerk-butter-grilled-corn.png' %}" alt="a picture of chared grilled corn on the cob with jerk butter" class="img-fluid">
                <div class="overlay"></div>
                <div class="recipe-desc p-3">
                    <h3 class="mb-3">Grillad majskolvar</h3>
                    <hr>
                    <p>Passa på att grilla majskolvar när du fortfarande har grillen på. Det är supergott med bara smör, men lite godare med
                    jerkkrydda!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4 single-recipe">
                <img src="{% static 'images/jerk-bbq-sauce.png' %}" alt="a picture of homemade bbq sauce in a jar" class="img-fluid">
                <div class="overlay"></div>
                <div class="recipe-desc p-3">
                    <h3 class="mb-3">Jerk BBQ sås</h3>
                    <hr>
                    <p>Det finns riktigt, riktigt goda smaker i denna Jerk BBQ-sås.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>


<!-- Book Section -->
<section id="book-section" style="background-color: #f8f9fa;">
    <div class="container text-center py-5">
        <h2>Beställ ditt exemplar</h2>

        <div class="book-display mt-5 d-flex justify-content-center align-items-center">
            <div class="book-cover mr-5">
                <img src="{% static 'images/roots-swedish-cover.jpg' %}" alt="Roots english book cover" class="img-fluid">
            </div>
            <div class="book-info">
                <h3>Roots Jamaicansk mat & kultur</h3>
                <p class="mt-3">Följ med Kristian Smith på en oförglömlig resa genom Jamaicas pulserande mat och kultur. Utforska aptitretande recept
                som inte bara är måltider utan berättelser, minnen och traditioner som gått i arv genom generationer.
                Fördjupa dig i de olika smakerna, från den brinnande hettan från Scotch bonnet-peppar i traditionella jerk-rätter till
                de söta undertonerna av rominfunderade desserter. Upplev öns kulinariska mångsidighet, där kokosnöt, jams, matbananer
                och en mängd kryddor spelar en central roll i rätter som firas i hem och sammankomster.</p>
                <p class="mt-3">Med varje sida inbjuder Kristian dig att fördjupa dig i Jamaicas rytmiska puls. Det här är inte bara en kokbok; det är
                en hyllning till en nations själ, fångad genom dess smaker.</p>
                <p class="mt-3">Roots ges ut av Natur och Kultur</p>
                <a href="https://www.adlibris.com/se/bok/roots-jamaicansk-mat-kultur-9789127164611" class="btn btn-primary mt-4" target="_blank">Beställ nu</a>
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>
<a href="{% url 'blog' %}">
    <div class="hero-image-section">
        <img src="{% static 'images/carnival-banner.jpg' %}" alt="Carnival Banner">
        <div class="hero-text">
            <h2 class="blog-h2">Blog</h2>
        </div>
    </div>
</a>
{% endblock %}
